<!-- <ion-card><ion-row>
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="../assets/icon/icon.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

    <div class="ion-padding">
    <form>
        <ion-item lines="full">
            <ion-label position="floating">Enter Email</ion-label>
            <ion-input type="text" #email required></ion-input>
        </ion-item>
        <div class="small-vertical-height"></div>
        <ion-item lines="full" style="margin-top: 5vh;">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" #password required></ion-input>
        </ion-item>
        <div class="small-vertical-height"></div>
        <div class="reverse-flex">
            <ion-label>Forgot password ?</ion-label>
        </div>
        <ion-row>
            <ion-col>
                <ion-button type="submit" (click)=  "logIn(email, password)" expand="block">Login</ion-button>
            </ion-col>
        </ion-row>
    </form>
     <form>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="danger" (click)= "googlesignin()" expand="block">
                    Login with Google
                </ion-button>
            </ion-col>
        </ion-row>
    </form> -->
<!-- </div>
</ion-card> --> 


<!-- <ion-card>
    <div class="ion-padding">
        <ion-item>
            <ion-label position="floating">Enter Email</ion-label>
            <ion-input type="text" [(ngModel)]='login.email'></ion-input>
        </ion-item>
        <div class="small-vertical-height"></div>
        <ion-item style="margin-top: 5vh;">
            <ion-label position="floating">Enter Password</ion-label>
            <ion-input type="password" [(ngModel)]='login.password' ></ion-input>
        </ion-item>
        <div class="small-vertical-height"></div>
        <div class="reverse-flex">
            <ion-label>Forgot password ?</ion-label>
        </div>
        <div class="vertical-height"></div>
        <ion-button expand="full" fill="solid" >Login</ion-button>
    </div>
</ion-card> -->

<!-- <ion-grid>
    <ion-row>
        <ion-col class="ion-text-center">
            <ion-label color="secondary">Or Login with social network</ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-text-right">
            <ion-button color="primary">
                <ion-icon  name="logo-facebook"></ion-icon>
               
            </ion-button>
        </ion-col>
        <ion-col class="ion-text-left">

            <ion-button color="danger" (click)= "googlesignin()">
                <ion-icon  name="logo-google"></ion-icon>
               
            </ion-button>
        </ion-col>
    </ion-row>
</ion-grid> -->
<ion-content class="sign-in-content">
<h2 class="auth-title">
    Sign In
  </h2>

  <form [formGroup]="signInForm" (ngSubmit)="signInWithEmail()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-input type="email" placeholder="Email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
      </ion-item>
      <div class="error-container" >
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="signInForm.get('email').hasError(validation.type) && (signInForm.get('email').dirty || signInForm.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="signInForm.get('password').hasError(validation.type) && (signInForm.get('password').dirty || signInForm.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <ion-button class="sign-in-btn" type="submit" expand="block" [disabled]="!signInForm.valid">Sign In</ion-button>
    <div class="error-container" *ngIf="submitError">
      <div class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ submitError }}</span>
      </div>
    </div>
  </form>

  <div class="social-auth-options">
     <ion-grid>
    <ion-row>
        <ion-col class="ion-text-center">
            <ion-label color="secondary">Or Login with social network</ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-text-right">
            <ion-button color="primary">
                <ion-icon  name="logo-facebook"></ion-icon>
               
            </ion-button>
        </ion-col>
        <ion-col class="ion-text-left">

            <ion-button color="danger" (click)= "googlesignin()">
                <ion-icon  name="logo-google"></ion-icon>
               
            </ion-button>
        </ion-col>
    </ion-row>
</ion-grid>   </div>
</ion-content>