.ion-cart {
    align-items: center;
}

ion-content {
    --background: rgb(139, 135, 135) url('./../../../assets/img/scones.jpg') no-repeat center center / cover;
}

.item.item-trns {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.bg-transparent {
    background: transparent;
}

