.ion-cart {
    align-items: center;
}

ion-content {
    --background: linear-gradient(90deg, rgba(43,90,148,1) 0%,
     rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
   }
.item.item-trns {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.bg-transparent {
    background: transparent;
}

