body { margin: 0; padding: 0; }
#map {     position: absolute;
    top: 100px;
    bottom: 0;
    width: 100%;
}  

#instructions {
    position: absolute;
    margin: 20px;
    width: 25%;
    top: 0;
    bottom: 20%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: scroll;
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 2em;
  }
  
  .duration {
    font-size: 2em;
  }