
<ion-header [translucent]="true" color="danger">
    <ion-toolbar color="dark">
        <ion-buttons slot="start" class="bg-transparent">
            <ion-menu-button>
                <ion-icon name="apps"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-icon name="basket"></ion-icon> 
            PARTCO
          </ion-title>
  
        <ion-button fill="clear" color="light" size="small" slot="end" (click)="goLogin()">
            <ion-icon style="width:30px; height: 30px;" name="log-in" (click)="goLogin()"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-item color="warning" >
<ion-segment color="primary" scrollable [value] = "icategory" (ionChange)= "onCategoryCategory($event)">
    <ion-segment-button  *ngFor="let category of categories" [value]="category" >
        {{category}}
    </ion-segment-button>
</ion-segment>
</ion-item>

<ion-content color="dark" >
  <ion-fab vertical="top" horizontal="end" slot="fixed"  >
    <ion-fab-button (click)="openCart()" #cart color="warning">
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon">{{ cartItemCount | async }}</ion-icon>
    </ion-fab-button>
  </ion-fab>
  
    <div class="box">
      <div class="card" *ngFor = "let item of result; index as productId" (click) = "onClick(item)"> 
        <div class="name" >{{ item.name}}</div>
        <img class="img" [src]="item.image">
        <div class="price">{{item.price | currency:"R"}}</div>
        <div class="desc" >{{ item.description}}</div>
        <div class="add" vertical = "bottom" (click)="addItem(item)" >
          <ion-button expand = "block" slot="end" color="dark" size = "small" fill = "outline" #cart>+
            <ion-icon name="cart" class="cart-icon"></ion-icon>
          </ion-button>
        </div>
      </div>
      </div>


        <!-- <ion-grid >
          <ion-row  >
            <ion-col  size="6" *ngFor = "let p of result;" class="partco" >
              <ion-card   > 
                <ion-row>
                  <ion-col size ="12" >
                    <ion-label style="width: fit-content;"><strong > {{ p.name }}</strong> </ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col  size ="6" class="ion-align-self-start">
                    <ion-label>{{ p.category }} </ion-label>
                  </ion-col>
                  <ion-col size ="6" class="ion-align-self-end">
                    <ion-label> <strong> {{ p.price  | currency:'R'}}</strong> </ion-label>
                  </ion-col>
                </ion-row>
               
                <ion-row>
                  <ion-col size ="12" class="ion-align-self-center" >
                    <img class="img"  
                    [src]="p.image" alt="A picture of {{p.name}}" />   
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size ="12">  
                       <ion-button fill ="solid" color = "dark" expand = "block" (click)="addItem(p)">
                           Add To Cart
                      </ion-button>
                  </ion-col>
                </ion-row>
                </ion-card>              
            </ion-col>
          </ion-row>
        </ion-grid> -->
  </ion-content>
